.bio {
    @extend %clearfix;

    padding: 15px;
    background: #ddd;

    img {
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 15px;
    }

    &-title {
        font-size: 24px;
    }
}