*, :before, :after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	
	font-family: inherit;
}

html {
	box-sizing: border-box;
	word-wrap: break-word;
}

img, .wp-caption {
	max-width: 100%;
	height: auto;
}

.discord-iframe {
	width: 100%;
}
