.page-navbar {
    color: #fff;
    background: $primaryColor;
    line-height: 70px;

    &--container {
        @extend %container;
        display: flex;
        justify-content: space-between;

        @media (max-width: $smallBreakpoint) {
            flex-direction: column;
            padding-left: 0;
            padding-right: 0;
        }
    }

    &--title {
        margin: 0;
    }

    &--title-link {
        display: block;
        padding: 0 30px;
        color: #fff;
        text-align: center;
        transition: .3s background;

        @media (max-width: $smallBreakpoint) {
            padding: 5px 30px;
        }

        &:hover, &:focus {
            background: darken($primaryColor, 15%);
            text-decoration: none;
        }
    }

    &--logo-image {
        height: 60px;
        margin-right: 10px;
        vertical-align: -19px;
    }

    &--navigation {
        @media (max-width: $smallBreakpoint) {
            background: darken($primaryColor, 5%);
            line-height: 45px;
        }
    }
}

.page-navbar-nav {
    padding: 0;

    &--title {
        @extend %hidden;
    }

    &--links {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &--links-item {
        //
    }

    &--link {
        display: block;
        padding: 0 15px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        transition: .3s background;

        &__current {
            //
        }

        &:hover, &:focus {
            background: darken($primaryColor, 15%);
            text-decoration: none;
        }
    }
}
