.panel {
    @extend %shadow;
    
    background: #fff;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        padding: 15px;

        &-title {
            margin-bottom: 0;

            font-size: 24px;
        }

        &-meta {
            margin-left: 15px;

            list-style: none;
            color: $mutedColor;
            text-align: right;

            li {
                display: inline-block;
            }
        }
    }

    &-content {
        padding: 15px;

        :not(:last-child):not(li) {
            margin-bottom: 15px;
        }

        .more-link {
            @extend .primary-button;
        }
    }
}